$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;

$font-title: "Big Shoulders", sans-serif;
$secondary-font: "Outfit", sans-serif;

$orange: #D5966C;
$grey: #444444;
$black: #151515;
$white: #FFFFFF;


