$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;

$light-blue: #77B4D8;
$light-green: #B0D9AA;
$black: #241D1D;
$dark-grey: #303030;
$light-grey: #F1F5F9;

$font-primary: 'Poppins', sans-serif;
$text-muted: #6b7280;


