@use '../abstracts/abstracts' as *;

.hero {
  position: relative;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  background-image: url('/src/images/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.4)
    );
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    max-width: 900px;
  }

  &__tag {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 6px 12px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
    font-style: italic;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: white;
    font-style: italic;
  }

  &__highlight {
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    color: $light-blue; 
  }

  &__subtitle {
    font-size: 1rem;
    opacity: 0.9;
    color: white;
  }

  &__scroll {
    margin-top: 4rem;
    font-size: 2rem;
    animation: bounce 2s infinite;
    color: white;

  }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

@include breakpoint(desktop) {
  .hero {
    background-position: center 20%;
  }
}
