@use '../abstracts/abstracts' as *;

.hero {
  position: relative;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  background-image: url('/src/images/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.4)
    );
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    max-width: 900px;
  }

  &__tag {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 6px 12px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
    font-style: italic;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: white;
    font-style: italic;
  }

  &__highlight {
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    color: $light-blue; 
  }

  &__subtitle {
    font-size: 1rem;
    opacity: 0.9;
    color: white;
  }

  &__scroll {
    margin-top: 4rem;
    font-size: 2rem;
    animation: bounce 2s infinite;
    color: white;

  }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

@include breakpoint(desktop) {
  .hero {
    background-position: center 20%;
  }
}

.formations {
  padding: 4rem 1.5rem;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
  }

  &__intro {
    text-align: center;
    margin-bottom: 3rem;
    line-height: 1.6;
    font-size: 1rem;
    color: $dark-grey;
  }
}

.formation-card {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  &__image-link img {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    color: $dark-grey;
  }

  &__features {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;

    li {
      margin-bottom: 0.5rem;
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: "✓";
        position: absolute;
        left: 0;
        color: #6cc070;
      }
    }
  }

  &__button {
    display: block;
    text-align: center;
    background: $dark-grey;
    color: #fff;
    padding: 0.8rem;
    text-decoration: none;
    font-weight: 600;
  }
}

@include breakpoint(desktop) {

  .formations__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .formations__title {
    font-size: 2.2rem;
  }

  .formation-card {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .formation-card__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .formation-card__button {
    margin-top: auto;
  }
}

.blog {

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: $dark-grey;
  }

  &__grid {
    display: grid;
    gap: 24px;
  }
}

.blog-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    margin-bottom: 12px;
    color: $dark-grey;

    a {
        @include breakpoint(desktop) {
            font-size: 1.5rem;
        }
        text-decoration: none;
        color: inherit;
    }
  }

  &__excerpt {
    flex: 1;
    margin-bottom: 16px;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
  }

  &:hover {
    transform: translateY(-6px);
  }
}

@include breakpoint(desktop) {
  .blog__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
