@use '../abstracts/abstracts' as *;

.sobre {
  padding-block: 4rem;

  &__intro {
    text-align: center;
    max-width: 700px;
    margin-inline: auto;
    margin-bottom: 4rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 900;
    }

    p {
      opacity: 0.8;
    }
  }

  &__equipo {
    margin-bottom: 4rem;
  }
}

.equipo__grid {
  display: grid;
  gap: 2rem;

  @include breakpoint(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.equipo__card {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  span {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: $light-blue;
    font-weight: 700;
  }

  p {
    font-size: 0.8rem;
    color: $dark-grey;
  }
}