@use '../abstracts/abstracts' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;

  font-family: $font-primary;
  font-size: 0.875rem;
  font-weight: 600;

  text-decoration: none;
  border: none;
  cursor: pointer;

  &--primary {
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(
      135deg,
      $light-blue 60%,
      $light-green 100%
    );
  }
}
