@use '../abstracts/abstracts' as *;

.footer {
  background-color: $dark-grey;
  color: white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
  @include breakpoint (tablet) {
    flex-direction: row;
  }

  &__logo {
    width: 200px;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  svg {
    width: 22px;
    height: 22px;
    color: white;
  }

  &__copy {
    font-size: 1rem;
    opacity: 0.7;
  }
}
