@use '../abstracts/abstracts' as *;

.header {
  overflow-x: hidden;
  width: 100%;
  background-color: #fff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    gap: 0.75rem;
  }

  &__logo {
    display: block;

    img {
      max-height: 20px;
      width: auto;
      padding: 0px 20px;
    }
  }

  &__cta {
    margin-left: auto;
    margin-right: 1rem;
  }

  &__toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding-right: 20px;

    svg {
      width: 28px;
      height: 28px;

      line {
        stroke: $black;
        stroke-width: 2;
        stroke-linecap: round;
      }
    }
  }
}

.menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav {
  max-height: 0;
  overflow: hidden;
}

.menu-toggle:checked ~ .nav {
  max-height: 500px;
}

.menu-toggle:checked ~ * .header__toggle {
  background: $light-grey;
}

.nav__list {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    padding-top: 20px;
  }
}

.nav a {
  text-decoration: none;
  color: black;
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  background: $light-grey;
}

.dropdown li {
  padding: 18px 0;
}

.dropdown-toggle:checked ~ .dropdown {
  max-height: 400px;
}

.dropdown-toggle {
  display: none;
}

.arrow {
  display: inline-block;
  transition: transform .3s;
}

.dropdown-toggle:checked + .nav__link .arrow {
  transform: rotate(180deg);
}

@include breakpoint(tablet) {
  .header__toggle {
    display: none;
  }

  .nav {
    display: block !important;
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}