@use '../abstracts/abstracts' as *;

.header {
  width: 100%;
  background-color: #fff;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    gap: 0.75rem;
  }

  &__logo {
    display: block;
    padding-left: 20px;

    img {
      max-height: 20px;
      width: auto;
    }
  }

  &__cta {
    margin-left: auto;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 20px;
    margin-left: 0.5rem;

    svg {
      width: 28px;
      height: 28px;

      line {
        stroke: $black;
        stroke-width: 2;
        stroke-linecap: round;
      }
    }
  }
}

.menu-toggle {
  margin-left: auto;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.header > .menu-toggle:checked + .header__inner .nav {
  max-height: 500px;
}

.header > .menu-toggle:checked + .header__inner .header__toggle {
  background: $light-grey;
}


.nav__list {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    padding-top: 20px;
  }
}

.nav a {
  text-decoration: none;
  color: black;
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  background: $light-grey;
}

.dropdown li {
  padding: 18px 0;
}

.dropdown-toggle:checked ~ .dropdown {
  max-height: 400px;
}

.dropdown-toggle {
  display: none;
}

.arrow {
  display: inline-block;
  transition: transform .3s;
}

.dropdown-toggle:checked + .nav__link .arrow {
  transform: rotate(180deg);
}

@include breakpoint(desktop) {
  .header {
    
    &__inner {
      display: flex;
      align-items: center;
    }

    .nav {
      position: static;
      max-height: none;
      overflow: visible;
      flex: 1;

      &__list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 32px;
      }

      &__item {
        padding: 0;
      }
    }

    &__cta {
      margin-left: auto;
    }

    &__toggle {
      display: none;
    }
  }

  .nav .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 260px;
    background-color: white;
    li:hover {
      background-color: $light-grey;
    }
  }

  .nav__list,
  .dropdown {
    list-style: none;
    margin: 0;
  }

  .nav__item--dropdown {
    position: relative;
  }

  .nav__item--dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .nav__item--dropdown:hover .dropdown {
    display: block;
  }

}


